{% extends 'base.html' %}
{% load  blog_support humanize staticfiles %}


{% block content %}
<div class="mdl-grid blog__posts">
{% for obj in objects %}
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--16dp">
    {% if obj.catagory.code == 'mtext' %}
      <div class="mdl-card__title">
        <h4 class="quote">
          <a href="{% url "article_detail" obj.id obj.slug %}">
            {% autoescape off %}
              {{ obj.content|abstract }}
            {% endautoescape %}
          </a>
        </h4>
      </div>
      <hr class="separate">
      <div class="mdl-card__actions card-meta">
        {% for tag in obj.tags.all %}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect tag-button" value="{{ tag.code }}"> {{ tag.name }} </button>
        {% endfor %}
        <p class="action-right"> {{ obj.update_time|naturaltime }} </p>
      </div>
    {% elif obj.catagory.code == 'img' %}
      <div class="mdl-card__media" link="{% url "article_detail" obj.id obj.slug %}">
        <!-- <img src="{% static "media/images/wx_share_ico.png" %}" alt> -->
        {% autoescape off %}
          {{ obj.content|remove_p}}
        {% endautoescape %}
      </div>
      <div class="mdl-card__supporting-text">
        {{ obj.shorttext }}
      </div>
      <div class="mdl-card__actions card-meta">
        {% for tag in obj.tags.all %}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect tag-button" value="{{ tag.code }}"> {{ tag.name }} </button>
        {% endfor %}
<!--         <button class="mdl-button mdl-js-button mdl-js-ripple-effect tag-button"> #图片 </button> -->
        <p class="action-right"> {{ obj.update_time|naturaltime }} </p>
      </div>
    {% else %}
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><a href="{% url "article_detail" obj.id obj.slug %}"> {{ obj.caption }} </a></h2>
      </div>
      <div class="mdl-card__supporting-text">
        {% autoescape off %}
          {{ obj.content|abstract }}
        {% endautoescape %}
      </div>
      <hr class="separate">
      <div class="mdl-card__actions card-meta">
      {% for tag in obj.tags.all %}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect tag-button" value="{{ tag.code }}"> {{ tag.name }} </button>
      {% endfor %}
<!--         <button class="mdl-button mdl-js-button mdl-js-ripple-effect tag-button"> #长文 </button>
 -->        <!-- <div class="mdl-layout-spacer"></div> -->
        <p class="action-right"> {{ obj.update_time|naturaltime }} </p>
      </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock content %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
{% block script %}
<script type="text/javascript">
  $('.tag-button').click(function(){
    var archive_url = "{% url "archieve" %}?tag=" + $(this).val();
    window.location.href = archive_url;
  });
  $('.mdl-card__media img').click(function(){
    var link = $(this).parent().attr('link');
    window.location.href = link;
  });
</script>
{% endblock script %}
