{% extends 'base.html' %}
{% load  blog_support humanize %}


{% block content %}
	<div class="blog__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="{% url "article_detail" article.id article.slug %}">{{ article.caption }}</a></h3>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
              <div class="section-spacer"></div>
              <span>{{ article.update_time|naturaltime }}</span>
              <!-- <div class="meta__favorites">
                  {{ article.statistic.likes }} 
                  <a href="{% url "like_article" article.id %}"><i class="material-icons" role="presentation">favorite</i></a>
                  <span class="visuallyhidden">favorites</span>
              </div> -->
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
              <p>
              {{ article.content|markdown_support }}
             </p>   
            </div>
          {% include "comments.html"%}
           <nav class="demo-nav mdl-cell mdl-cell--12-col">
            <div class="section-spacer"></div>
            <a href="{% url "article_detail" article.id article.slug %}" class="demo-nav__button" title="show more">
              More
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
        </div>
{% endblock content %}
	
{% block footer %}	
{{ block.super }}
{% endblock footer %}	
{% block script %}
{% endblock script %}
