{% extends "base.html" %}
{% load i18n %}
{% load duoshuo_tags %}
{% duoshuo_comments %}

{% block content %}
    <!-- +++++ blog Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="text-align: center">{{ article.caption }}</h1>
          <hr>
          {% autoescape off %}
          {{ article.content }}
          {% endautoescape %}
                  <hr>
          <div class="list-footer">
              <a>阅读({{ statistic.visits }}) | </a>
              <a>评论({{ statistic.comments }})| </a>
              <a class="link" href="{% url "like_article" article.id True %}">喜欢({{ statistic.likes }})</a>
          </div>
          <br>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
    </div>
  </div>
  <div id="white">
    <div class="container">
      <div class="row">  
        <div class="col-lg-8 col-lg-offset-2">
          <!-- TODO: update thread key title  url etc.. -->
          {% include "comments.html" %}
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->
{% endblock content %}
<!-- +++++ Projects Section +++++ -->
    
{% block footer %}  
{{ block.super }}
{% endblock footer %}   
{% block script %}
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"jonwing"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0] 
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
  </script>
  <!-- 多说公共JS代码 end -->
{% endblock script %}