{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                {% for article in articles %}
                    <ul>
                        <p class="list-top">
                            {{ article.update_time|naturaltime }}
                        </p>
                        <h4 class="title">
                            <a href="/articles/{{ article.id }}">{{ article.caption }}</a>
                        </h4>
                        <div class="list-footer">
                            <a>阅读({{ article.statistic.visits }}) | </a>
                            <a>评论({{ article.statistic.comments }}) | </a>
                            <a>喜欢({{ article.statistic.likes }})</a>
                        </div>
                        <hr>
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <a class="btn btn-default" {% if articles.has_previous %}href="?page={{ articles.previous_page_number }}"{% endif %} {% if not articles.has_previous %}disabled="disabled"{% endif %}>上一页</a>
                    <span>第{{ articles.number }}/{{ articles.paginator.num_pages }}页</span>
                    <a class="btn btn-default" {% if articles.has_next %}href="?page={{ articles.next_page_number }}"{% endif %} {% if not articles.has_next %}disabled="disabled"{% endif %}>下一页</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
