{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul>
                        <p class="list-top">
                            这是发表时间
                        </p>
                        <h4 class="title">
                            <a href="#">这是title</a>
                        </h4>
                        <div class="list-footer">
                            <a href="#">阅读 - </a>
                            <a 评论="#"  class="link">评论 - </a>
                            <span>喜欢</span>
                        </div>
                        <hr>
                    </ul>
                    <ul>
                        <p class="list-top">
                            这是发表时间
                        </p>
                        <h4 class="title">
                        <a href="#">
                            这是title</a>
                        </h4>
                        <div class="list-footer">
                            <a href="#" class="link">阅读 - </a>
                            <a href="#">评论 - </a>
                            <span>喜欢</span>
                        </div>
                        <hr>
                    </ul>
                    <ul>
                        <p class="list-top">
                            这是发表时间
                        </p>
                        <h4 class="title">
                        <a href="#">
                            这是title</a>
                        </h4>
                        <div class="list-footer">
                            <a href="#" class="link">阅读 - </a>
                            <a href="#">评论 - </a>
                            <span>喜欢</span>
                        </div>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
