{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<!-- +++++ blog Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>我是文章题目</h1>
                    <hr>
      <p>最不擅长在不想笑时展现笑容在和朋友分离时再次被佐证，我都能感到脸上挂起笑容，但传递的都是苦涩与别扭。虽然，说实话，也没感到多少不舍，就是不想笑而已。

      很可能不舍在前几天已经被透支，
      因此到别离时就只剩躯体做脱节的行动了。对于我那些知根知底的朋友们，我是十分不愿意相信他们会因送别而伤感的。就像20号晚上在操场畅谈时邓瑜说的一样：“我想我从来都不是感性的人，也不觉得毕业是多么不舍得的事，但今天看到XX们为XX送行的时候眼泪汪汪的样子，我就想最后走的人那得多伤心啊。”那时我还理性发作安慰她说：“那都是作，等后面发现又被送走的人自拍刷屏后，他们会替自己的眼泪不值的。”后来我不得不承认，四年同窗的离别情绪确实不是那么容易控制的。我预想过多种送别的场景，受多种青春影视的熏陶下最终选择了从宿舍走路到南门后依依惜别地送上车的方案。然而在实施阶段，走了几十米后邓瑜突然说你还是去东门打车走吧，走到南门好累啊。我事先酝酿好的情绪终于质变成一句脱口而出的话：“卧槽，有你们这样送行的吗！”现在回想临行的表现，想必是大多不舍都随这句话喷薄而出了。

      夜之前我认为，至少在表面上，比我更不上心的就只有他了。这个喜好摇滚重金属，随时旁若无人地跳鬼步的好人居然躺在地上就号哭起来并说着与醉酒无异的话，把我们都震慑了。随着他眼泪鼻涕流满了脸庞，在周遭安慰的我们都意识到四年来亏待了这个感情细腻的男生，于是纷纷拍照到朋友圈并表示点赞送原图。
      比之我一贯的不上心，锤的表现是一反常态的。在畅谈夜之前我认为，至少在表面上，比我更不上心的就只有他了。这个喜好摇滚重金属，随时旁若无人地跳鬼步的荫上仰望因雾霾遮蔽而朦胧的夜空，情不自禁地念起：“在我一生的黄金时代，我想吃，想睡，还在一瞬间想变成漂浮的云。”这段充满力量的宣言感动了半年来一直冷战的乔邓夫妇，他们终于又依偎在一起，冰释前嫌，互相细说着明天。但愿不是回光返照，那样我的遗憾也能减少一个。
      当晚月朗星稀，气温舒适。我躺在绿荫上仰望因雾霾遮蔽而朦胧的夜空，情不自禁地念起：“在我一生的黄金时代，我想吃，想睡，还在一瞬间想变成漂浮的云。”这段充满力量的宣言感动了半年来一直冷战的乔邓夫妇，他们终于又依偎在一起，冰释前嫌，互相细说着明天。但愿不是回光返照，那样我的遗憾也能减少一个。
      
着与醉酒无异的话，把我们都震慑了。随着他眼泪鼻涕流满了脸庞，在周遭安慰的我们都意识到四年来亏待了这个感情细腻的男生，于是纷纷拍照到朋友圈并表示点赞送原图。
 
      比之我一贯的不上心，锤的表现是一反常态的。在畅谈夜之前我认为，至少在表面上，比我更不上心的就只有他了。这个喜好摇滚重金属，随时旁若无人地跳鬼步的好人居然躺在地上就号哭起来并说着与醉酒无异的话，把我们都震慑了。随着他眼泪鼻涕流满了脸庞，在周遭安慰的我们都意识到四年来亏待了这个感情细腻的男生，于是纷纷拍照到朋友圈并表示点赞送原图。

    
  说着与醉酒无异的话，把我们都震慑了。随着他眼泪鼻涕流满了脸庞，在周遭安慰的我们都意识到四年来亏待了这个感情细腻的男生，于是纷纷拍照到朋友圈并表示点赞送原图。
      比之我一贯的不上心，锤的表现是一反常态的。在畅谈夜之前我认为，至少在表面上，比我更不上心的就只有他了。这个喜好摇滚重金属，随时旁若无人地跳鬼步的好人居然躺在地上就号哭起来并说着与醉酒无异的话，把我们都震慑了。随着他眼泪鼻涕流满了脸庞，在周遭安慰的我们都意识到四年来亏待了这个感情细腻的男生，于是纷纷拍照到朋友圈并表示点赞送原图。
的乔邓夫妇，他们终于又依偎在一起，冰释前嫌，互相细说着明天。但愿不是回光返照，那样我的遗憾也能减少一个。
      当晚月朗星稀，气温舒适。我躺在绿荫上仰望因雾霾遮蔽而朦胧的夜空，情不自禁地念起：“在我一生的黄金时代，我想吃，想睡，还在一瞬间想变成漂浮的云。”这段充满力量的宣言感动了半年来一直冷战的乔邓夫妇，他们终于又依偎在一起，冰释前嫌，互相细说着明天。但愿不是回光返照，那样我的遗憾也能减少一个。
      当晚月朗星稀，气温舒适。我躺在绿荫上仰望因雾霾遮蔽而朦胧的夜空，情不自禁地念起：“在我一生的黄金时代，我想吃，想睡，还在一瞬间想变成漂浮的云。”这段充满力量的宣言感动了半年来一直冷战的乔邓夫妇，他们终于又依偎在一起，冰释前嫌，互相细说着明天。但愿不是回光返照，那样我的遗憾也能减少一个。

      上车时，我的行李不多，因为带的遗憾很多。未竟的事，少说或错说的话。从前喜欢说做过的事不后悔，现在是，既然都不能改变了，还不能后悔一下么，好歹做个反面教材也好啊。

      有缘再见。
      ————6月22日在火车上</p>
				<hr>
            <div class="row" style="text-align: right">
              <p style="font-size: 10px">发表时间 | 阅读 | 评论 | like</p>
            </div><!--/row centered -->
            <br>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
    </div>
  </div>
  <div class="row mt">  
    <div class="col-lg-6 col-lg-offset-3 centered">
        <form role="form">
          <div class="form-group">
            <input type="name" class="form-control" id="NameInputEmail1" placeholder="你的名字或者昵称">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="subjectEmail1" placeholder="主题">
            <br>
          </div>
          <textarea class="form-control" rows="6" placeholder="在这里输入评论"></textarea>
          <br>
          <button type="submit" class="btn btn-primary">提交</button>
        </form>         
    </div>
  </div><!-- /row -->
</div> <!-- /container -->
</div><!-- /ww -->
{% endblock content %}
	<!-- +++++ Projects Section +++++ -->
  
	
{% block footer %}	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
  {% endblock footer %}	
