{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<!-- +++++ blog Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>{{ latest_post.caption }}</h1>
          <hr>
          {% autoescape off %}
          {{ latest_post.content }}
          {% endautoescape %}
				  <hr>
            <div class="row" style="text-align: right">
              <p style="font-size: 10px">发表时间 | 阅读 | 评论 | like</p>
            </div><!--/row centered -->
            <br>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
    </div>
  </div>
  <div class="row mt">  
    <div class="col-lg-6 col-lg-offset-3 centered">
        <form role="form">
          <div class="form-group">
            <input type="name" class="form-control" id="NameInputEmail1" placeholder="你的名字或者昵称">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="subjectEmail1" placeholder="主题">
            <br>
          </div>
          <textarea class="form-control" rows="6" placeholder="在这里输入评论"></textarea>
          <br>
          <button type="submit" class="btn btn-primary">提交</button>
        </form>         
    </div>
  </div><!-- /row -->
</div> <!-- /container -->
</div><!-- /ww -->
{% endblock content %}
	<!-- +++++ Projects Section +++++ -->
  
	
{% block footer %}	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
  {% endblock footer %}	
