{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "media/images/favicon.ico" %}">

    <title> Feiton </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home_page" %}">狒滕</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home_page' %}">首页</a></li>
            <li><a href="{% url 'articles' %}">文章</a></li>
            <li><a href="{% url "contact_me" %}">私信</a></li>
            <li><a href="{% url "about" %}">关于</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content segment -->
    {% block content %}
    {% endblock content %}

    <!-- footer segment -->
    {% block footer %}
    <!-- footer 好难看 暂时不include了 -->
    {% endblock footer %}

    <script src="{% static "js/jquery-1.11.3.min.js"%}"></script>
    <script src="{% static "js/hover.zoom.js" %}"></script>
    <script src="{% static "js/hover.zoom.conf.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block script %}
    {% endblock script %}
  </body>
</html>