<header class="mdl-layout__header mdl-layout__header--transparent steam-orange">
    <div class="mdl-layout__header-row">
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <header class="drawer-header">
      <!-- <img src="/static/css/images/0001.jpg" class="drawer-avatar"> -->
      <div class="drawer-info">
      <span class="mdl-layout-title">lAzUr</span>
      <span>此心安处是吾乡。 </span>
      </div>
    </header>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">首页</a>
      <div class="inline-dropdown">
        <a class="mdl-navigation__link" href="#">标签</a>
        <div class="mdl-layout-spacer"></div>
        <button id="tags-right" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="tags-right">
        {% for tag in tags %}
          <a class="mdl-menu__item" href="{% url "archieve" %}?tag={{ tag.code }}">{{ tag.name }}</a>
        {% endfor %}
        </ul>
      </div>
      <div class="inline-dropdown">
        <a class="mdl-navigation__link" href="#">分类</a>
        <div class="mdl-layout-spacer"></div>
        <button id="ctg-right" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="ctg-right">
        {% for ctg in ctgs %}
          <a class="mdl-menu__item" href="{% url "archieve" %}?ctg={{ ctg.code }}">{{ ctg.name }}</a>
        {% endfor %}
        </ul>
      </div>
      <a class="mdl-navigation__link" href="{% url "contact_me" %}">联系</a>
    </nav>
  </div>

